<h1><%= @shelter.name %></h1>
<h3>ID: <%= @shelter.id %></h3>
<br/>
<p>Address: <%= @shelter.address %></p>
<p>City: <%= @shelter.city %></p>
<p>State: <%= @shelter.state %></p>
<p>Zip: <%= @shelter.zip %></p>
