<img src= <%= @pet.image %>>
<br/>
<h1>Name:<%= @pet.name %></h1>
<br/>
<p>Description: <%= @pet.description %></p>
<br/>
<p>Approximate Age: <%= @pet.approximate_age %></p>
<br/>
<p>Sex: <%= @pet.sex %></p>
<br/>
<p>Adoption Status: <%= @pet.adoption_status %></p>
